<div class="navbar"></div>

<div class="main-container">
  <div class="login-container">
    <h2>Cadastro</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <!-- Campo de email com validação -->
      <div class="form-group">
        <input type="text" id="text" placeholder="Nome" [(ngModel)]="nome" name="nome" required>
        <input 
          type="email" 
          id="email" 
          placeholder="Email" 
          [(ngModel)]="email" 
          name="email" 
          required 
          #emailModel="ngModel" 
          email>
          
        <!-- Popup de erro se o formato do email for inválido -->
        <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="error-message">
        </div>
      </div>

      <!-- Campo de senha -->
      <input type="password" id="password" placeholder="Senha" [(ngModel)]="password" name="password" required>
      <input style="margin-bottom: 5%;" type="password" id="password" placeholder="Confirme sua senha" [(ngModel)]="password" name="Confirme sua senha" required>

      <!-- Botão de login, desabilitado se o formulário for inválido -->
      <button type="submit" [disabled]="!loginForm.form.valid">Cadastrar</button>

      <div class="signup">
        Ja possui login ? <a (click)="navigateToLogin()" routerLink="/login">Fazer Login</a>
      </div>
    </form>
  </div>

  <!-- Nova div colorida à direita -->
  <div class="right-section"></div>
  
  <!-- Imagem do doutor -->
  <img src="doc2.png" class="doctor-image" alt="Doctor Image">
</div>
